<!DOCTYPE html>
<html lang="ko">
<head>
    <title>Seoil PDF</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
<!-- Cache reset -->
<meta http-equiv="Expires" content="Mon, 06 Jan 2016 00:00:01 GMT">
<meta http-equiv="Expires" content="-1">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<!-- icon_favicon -->
<link rel="shortcut icon" type="image/x-icon" href="resources/images/ico_favicon_60x60.png">
    <link rel="stylesheet" type="text/css" href="../static/css/vuecss.css">
</head>
<body style="background-color: #f3f4f8; text-align: center;">
    <div id="overlay">
        <div style="width: 600px; padding: 30px; margin-top: 60px; background-color: #ffffff; border-radius: 5px; box-shadow: 0 0 5px rgba(61,70,92,0.1); text-align: center;display: inline-block; text-align: left">
            <div style="width: 1px; height: 20px;"></div>
            <span> · 파일을 업로드 시 각 제품은 각 제품 별</span>
            <strong> Lot.No. </strong>
            <span> 로 구분되어 하나의 파일로 매칭이 이루어집니다. 파일명에 Lot.No. 가 포함되지 않은 PDF 파일이 업로드 될 경우에는 구분 및 매칭이 불가능합니다.</span> <br> <div style="width: 1px; height: 8px;"></div>
            <span> · 각 제품 별 구성요소는 하단의 파일명 키워드를 기준으로 구성되었으며, 해당 키워드를 포함하지 않은 PDF 파일이 업로드 될 경우에는 구분 및 매칭이 불가능합니다.</span> <br><div style="width: 1px; height: 8px;"></div>


            <span style="font-size: 14px;">예외로, HPL-02 제품의 Canister Analytical Report 의 파일명에는 CoA/COA/coa 가 들어갑니다.</span><br>
            <strong style="font-size: 14px; padding-left: 12px;">HPL-02 파일명:</strong><br>
            <span style="font-size: 14px; padding-left: 20px;"> · Original file</span><br>
            <span style="font-size: 14px; padding-left: 20px;"> · Canister Analytical Report, COA</span><br>
            <span style="font-size: 14px; padding-left: 20px;"> · Process Parameter Report, Para</span><br>
            <span style="font-size: 14px; padding-left: 20px;"> · Analytical Report, 파일명 관계 없이 Product (Crude-HPL-02 등)으로 파악</span>
            <div style="width: 1px; height: 24px;"></div>
            <span> · PDF 파일에 Parameter 는 없고 Results 값만 있는 경우, 해당 Parameter 혹은 그 위 열의 Parameter 항목 인식이 어려울 수 있습니다.</span> <br><div style="width: 1px; height: 8px;"></div>

            <div style="width: 1px; height: 30px;"></div>


            <span></span>
            <table class="overlay_table">
                <tbody>
                    <tr><td>INCLUDE TEXT</td><td>PDF CATEGORY</td></tr>
                    <tr><td>原料</td><td>ANALYTICAL REPORT</td></tr>
                    <tr><td>COA/Coa/coa</td><td>ANALYTICAL REPORT</td></tr>
                    <tr><td>PARA/Para/para</td><td>PROCESS PARAMETER REPORT</td></tr>
                    <tr><td>容器檢査書</td><td>CANISTER ANALYTICAL REPORT</td></tr>
                    <tr><td>뾢딇뙚뜽</td><td>CANISTER ANALYTICAL REPORT</td></tr>
                    <tr><td>ЧeКэМЯН/ùeèφîƒì╕</td><td>CANISTER ANALYTICAL REPORT</td></tr>
                </tbody>
            </table>
            <div style="width: 1px; height: 30px;"></div>
            <div style="width: 100%; text-align: center">
                <label onclick="off()" style="cursor:pointer; padding: 10px 20px; border-radius: 5px; box-shadow: 1px 1px 2px 0 rgba(110, 110, 110, 0.5); background-color: #ffffff; font-weight: 500; bolder: solid 1px #f7778a; color: #f7778A;">
                    확인
                </label>
            </div>
            <div style="width: 1px; height: 12px;"></div>
        </div>
    </div>
    <ul id="onscreen">
        <div style="width: 90%; min-width:1500px; _width:1000px; background-color: #ffffff; border-radius: 5px; box-shadow: 0 0 5px rgba(61,70,92,0.1); text-align: center;display: inline-block">
            <div style="width: 100%; text-align: right; padding-top: 20px" v-if="nowScreen==0"><span style="margin-right: 100px; color: #F7778A; font-weight: bold; cursor: pointer; padding-top: 20px; margin-top: 20px" v-on:click="toRuleCheck()">Rule Check</span><br></div>
            <span class=span_title v-if="nowScreen==0">PDF 분석</span><br>
            <div style="width: 100%; text-align: right;" v-if="nowScreen==1"><span style="color: white">{{nowChangeDom}}</span><span style="margin-right: 100px; color: #F7778A; font-weight: bold; cursor: pointer; padding-top: 20px;" v-on:click="returnXlsx()">돌아가기</span><br></div>
            <span class=span_title v-if="nowScreen==1">Rule Check</span><br>
            <div class="title_line"></div>

            <div class="overall_div" v-if="nowScreen==0">
               <table style="display: inline-block; font-family: 'URW Gothic L'">
                   <tbody>
                        <tr>
                            <td>
                                  <div class="table_top_title">
                                        <div style="background-color: #f3f5fb; border: solid 1px #cfd5eb; margin-top: 10px; height:170px; vertical-align: center">
                                           <div style="margin-top: 0px; margin-bottom: 0px; vertical-align: center">
                                               <div style="width: 20px; position:relative; height: 40px;"></div>
                                                <label onclick="uploadBtnClick()" style="cursor:pointer; padding: 10px 20px; border-radius: 5px; box-shadow: 1px 1px 2px 0 rgba(110, 110, 110, 0.5); background-color: #ffffff; font-weight: 500; bolder: solid 1px #f7778a; color: #f7778A;">
                                                    업로드
                                                </label>
                                                <div style="width: 20px; position:relative; height: 20px;"></div>
                                                <input type="file" id="ex_file" accept=".pdf" class="input-file" style="display: none" oninput="uploadFile(this.value)" multiple>

                                            </div>
                                            <div style="width: auto; height: 1px; border-bottom: 1px dotted #b1bed5; margin-top: 20px; margin-bottom: 20px; margin-left: 30px; margin-right: 30px"></div>
                                            <div style="text-align: left; padding-left: 20px; padding-right: 20px">
                                                <div><span class="warning_comment">* Input : PDF</span></div>
                                            </div>
                                        </div>
                                    </div>
                                <br>
                                <div class="table_top_title">
                                    <div style="width: 100%; text-align: right" v-if="status!=0">
                                        <input v-model="nowExcelName" onchange="onchangeXLSXName()" style="height: 30px; font-size: 20px; text-align: right; padding-right:1px;  border:none; border-bottom: 1px solid #1890ff;">
                                        <span style="font-size: 20px; padding-right: 20px;">.xlsx</span>
                                            <label onclick="saveXlsx()" style="cursor:pointer; padding: 10px 20px; margin-top:20px; margin-right:20px; margin-bottom:5px; border-radius: 5px; box-shadow: 1px 1px 2px 0 rgba(110, 110, 110, 0.5); background-color: #ffffff; font-weight: 500; bolder: solid 1px #f7778a; color: #f7778A; display: inline-block">
                                                    XLSX 저장
                                            </label>
                                    </div>
                                    <div style="background-color: #f3f5fb; border: solid 1px #cfd5eb; margin-top: 10px; vertical-align: center; overflow-x: scroll" v-if="status!=0" >
                                        <table style="margin: 10px; background-color: #a7a7a7">
                                            <tbody>
                                                <tr>
                                                    <td style="background-color: #4e4e4e">
                                                        <span v-if="status!=3" style="color: white">Mode</span>
                                                        <div v-if="status==3" style="text-align: right"><img src="../images/right_position_change.png" style="display: inline-block; cursor: pointer;" v-on:click="change_to(-1)"></div>
                                                    </td>
                                                    <td v-for="tfi in table_list[0].length" style="background-color: #4e4e4e">
<!--                                                        {{tfi-1}}-->
                                                        <div v-if="status!=3">
                                                            <img src="../images/plus_new_line.png" style="cursor: pointer" v-on:click="newLine(tfi-1)">
                                                            <img src="../images/change_position_toggle.png" style="cursor: pointer" v-on:click="change_position_on(tfi-1)">
                                                            <img src="../images/delete_line.png" style="cursor: pointer" v-on:click="deleteLine(tfi-1)">
                                                        </div>
                                                        <div v-if="status==3" style="text-align: right"><img src="../images/right_position_change.png" style="display: inline-block; cursor: pointer" v-on:click="change_to(tfi-1)"></div>
                                                    </td>
                                                </tr>
                                                <tr v-for="(vfi,index1) in table_list" style="margin: 0; padding: 0;">
                                                    <template v-if="index1==0">
                                                        <td style="background-color: #4e4e4e;">
                                                            <span style="color: white">Filename</span>
                                                        </td>
                                                        <td v-for="(vficell,index2) in vfi" style="padding: 0; margin: 0">
                                                            <textarea type="text" v-model="table_list[index1][index2]" style="width:92px; max-width: 92px; padding: 4px; margin: 1px; font-size: 16px; border: 0; background-color: #4e4e4e; color: white; resize: none"></textarea>
                                                            <input type="text" placeholder="일괄적용" style="width: 96px; font-size:14px; border: 0; background-color: #ffc5cc" v-model="tempOverall[index2]" v-on:change="overallChange(index2)">
                                                        </td>
                                                    </template>
                                                    <template v-else>
                                                        <td style="background-color: #4e4e4e">
                                                            <div style="font-size: 12px; color: white; overflow-x: hidden; overflow-y: hidden; width: 150px">{{filenames[index1]}}</div>
                                                        </td>
                                                        <td v-for="(vficell,index2) in vfi" style="padding: 0; margin: 0">
                                                            <input v-if="!(value_error_list[index1][index2])" type="text" v-model="table_list[index1][index2]" style="width:100px; padding: 0; margin: 0; font-size: 20px; border: 0; background-color: white">
                                                            <input v-else type="text" v-model="table_list[index1][index2]" style="width:100px; padding: 0; margin: 0; font-size: 20px; border: 0; background-color: #ffc7ce" v-on:change="value_error_list[index1].splice(index2,1,false)">
                                                        </td>
                                                    </template>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </td>
                        </tr>
                   </tbody>
               </table>
                <div style="width: 1px; height: 40px;"></div>
            </div>
            <div v-else style="width: 90%; margin-left: 5%">
                <div>
                    <input type="radio" id="radio0" value="0" v-model="nowRULECat">
                    <label for="radio0">Overall Rules</label>
                    <input type="radio" id="radio1" value="1" v-model="nowRULECat">
                    <label for="radio1">Model Rules</label>
                    <input type="radio" id="radio2" value="2" v-model="nowRULECat">
                    <label for="radio2">Common Keys</label>

                </div>
                <div style="width: 1px; height: 50px;"></div>
                <template v-if="nowRULECat=='0'">
                    <span class="rule_span_title">Overall Rules of </span>
                    <select name="modelSelect" v-model="nowSelected" v-on:change="nowSeeCatListChange(nowSelected)" style="margin-left:10px; font-size: 20px; color: #f7778a">
                        <option v-for="ml in modelList">{{ml}}</option>
                    </select>

                    <div style="width: 100%; text-align: right">
                        <label onclick="orderSave()" style="cursor:pointer; padding: 10px 20px; margin-top:20px; margin-right:20px; margin-bottom:5px; border-radius: 5px; box-shadow: 1px 1px 2px 0 rgba(110, 110, 110, 0.5); background-color: #ffffff; font-weight: 500; bolder: solid 1px #f7778a; color: #f7778A; display: inline-block">
                             순서 저장
                        </label>
                    </div>

                    <div style="width: 1px; height: 20px;"></div>
                    <table style="width: 100%; border: 1px solid #333333; border-collapse: collapse; ">
                        <tbody>
                            <template v-for="(orl, index) in nowOverallSeeCatList">
                                <tr v-if="index==0" style="">
                                    <td v-for="line in orl" style="background-color: #f3f5fb; border: 1px solid #333333;">
                                        {{line}}
                                    </td>
                                    <td style="background-color: #f3f5fb; border: 1px solid #333333;">위치 조정</td>
                                </tr>
                                <tr v-else>
                                    <td v-for="(line, index) in orl" style="border: 1px solid #333333;">
                                        <template v-if="index>2 && index<6">
                                            <template v-if="checkValueValidation(orl[index])">
                                                <input type="text" v-model="orl[index]" style="width:128px; padding:0; margin:0; padding-left: 8px; height: 100%; font-size: 18px; border: 0px solid;">
                                            </template>
                                            <template v-else>
                                                <input type="text" v-model="orl[index]" style="width:128px; padding:0; margin:0; padding-left: 8px; height: 100%; font-size: 18px; border: 0px solid; background-color: #f6a4b1">
                                            </template>
                                        </template>
                                        <template v-else>{{line}}</template>
                                    </td>
                                    <td style="border: 1px solid #333333;">
                                        <span style="cursor: pointer" v-on:click="overallrule_move(true,index)">△</span>
                                        <span style="cursor: pointer" v-on:click="overallrule_move(false,index)">▽</span>
                                    </td>
                                </tr>
                            </template>
                        </tbody>
                    </table>
                </template>
                <template  v-if="nowRULECat=='1'">
                    <span class="rule_span_title">Model Prefix</span>
                    <div style="width: 1px; height: 20px;"></div>
                    <table style="width: 100%; border: 1px solid #333333; border-collapse: collapse; ">
                        <tbody>
                            <template v-for="(orl, index) in modelRuleList">
                                <tr v-if="index==0">
                                    <td v-for="line in orl" style="background-color: #f3f5fb; border: 1px solid #333333;">
                                        {{line}}
                                    </td>
                                </tr>
                                <tr v-else>
                                    <td v-for="line in orl" style="border: 1px solid #333333;">
                                        {{line}}
                                    </td>
                                </tr>
                            </template>
                        </tbody>
                    </table>
                </template>
                <template  v-if="nowRULECat=='2'">
                    <span class="rule_span_title">Common Keys</span>
                    <div style="width: 1px; height: 20px;"></div>
                    <table style="width: 100%; border: 1px solid #333333; border-collapse: collapse; ">
                        <tbody>
                            <template v-for="(orl, index) in commonKeyList">
                                <tr v-if="index==0">
                                    <td v-for="line in orl" style="background-color: #f3f5fb; border: 1px solid #333333;">
                                        {{line}}
                                    </td>
                                </tr>
                                <tr v-else>
                                    <td v-for="line in orl" style="border: 1px solid #333333;">
                                        {{line}}
                                    </td>
                                </tr>
                            </template>
                        </tbody>
                    </table>
                </template>

                <div style="width: 1px; height: 100px;"></div>






            </div>


        </div>




    </ul>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.3/vue.min.js'></script>
    <script src="../js/overall_vue_no_cache.js?ver=<%= getRandomStr() %>"></script>
<!--    <script src="http://182.162.19.9:33353/js/overall_vue.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.14.3/xlsx.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.15.0/vuedraggable.min.js'></script>



</body>
</html>










