@charset "utf-8";

.span_title{
    font-family: "Noto Sans KR", sans-serif;
    font-size: 25px;
    color: #F7778A;
    font-weight: 500
}

.rule_span_title{
    font-family: "Noto Sans KR", sans-serif;
    font-size: 20px;
    color: #F7778A;
    font-weight: 500
}

.span_title_comment{
    font-family: "Noto Sans KR", sans-serif;
    font-size: 15px;
    color: #7D7D7D;
    line-height: 24px;
    letter-spacing: -0.5px;
    font-weight: 400
}

.title_line{
    width: auto;
    height: 1px;
    border-bottom: 1px dotted #b1bed5;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px
}

.overall_div{
    border-radius: 3px;
    border: 1px gray;
    text-align: center;
    width: 100%;
}

.table_top_title{
    display: inline-block;
    font-family: "Noto Sans KR", sans-serif;
    width: 1400px;
    margin-left: 20px;
}

.table_title{
    color: #2C3F51;
    font-weight: 500;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 15px;
}

.table_title2{
    color: #2C3F51;
    font-weight: 200;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 15px;
}

.warning_comment{
    color: #2C3F51;
    font-size: 12px;
    letter-spacing: -0.17px;
    font-family: 'Noto Sans KR', sans-serif;
}

@font-face {
    font-family: 'FATCOW';
    src:url("../font/FatCow.otf")
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: block; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

.overlay_table{
    width: 90%;
    margin-left: 5%;
    border-collapse: collapse;
}

.overlay_table tr td{
    padding: 10px;
    border: 1px solid #333333;
    text-align: center;
}

